//
   Created by Wilsons on 6/13/17.

nav.navigation
    a(href="/dealers/eligible").navigation__link Eligible Clients
    a(href="/dealers/not/eligible").navigation__link Ineligible Clients
    a(href="/features").navigation__link Feature Status