//
   Created by Wilsons on 6/13/17.

html
    head
        title Phoenix Features List
    body
        h1 Phoenix Features

        ul.feature-list
            each feature in features
                li
                    if feature.isComplete
                        h2 ✔️ #{feature.name}
                    else
                        h2 ❌️ #{feature.name}
                    p Associated Report Flags: #{feature.flags}