html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh; }

.eligible-list__page {
  padding: 40px;
  font-size: 18px; }

.eligible-list__title {
  font-size: 2em;
  font-family: Georgia, serif;
  font-style: italic;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 700;
  margin: 0;
  padding: 0;
  padding-top: 1em;
  padding-bottom: .5em;
  line-height: 2em; }

.eligible-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  margin: 0;
  padding: 0; }
  .eligible-list__item__name {
    font-size: 1.2em;
    color: rgba(0, 0, 0, 0.6);
    font-family: Georgia, serif;
    font-style: italic;
    font-weight: 700;
    margin: 0;
    padding: 0;
    padding-top: 1em; }
  .eligible-list__item__features {
    font-size: 1em;
    color: rgba(0, 0, 0, 0.6);
    font-family: sans-serif;
    font-weight: 100;
    margin: 0;
    padding: 0; }
    .eligible-list__item__features--id {
      color: darkgreen;
      font-style: italic;
      font-weight: 500; }
    .eligible-list__item__features--indented {
      padding-left: 1em; }
