body, html {
  z-index: 1;
  margin: 0;
  padding: 0; }

.background {
  width: 100vw;
    height:
  position: absolute;
  top: -114px;
  left: 0;
  z-index: -999; }
  .background__video {
    width: 100vw; }

.foreground {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: transparent;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 999;
  padding: 0 10vw; }
  .foreground__container {
    width: 60vw;
    margin: 0;
    padding: 0; }
    .foreground__container__title {
      font-size: 4em;
      line-height: 1.15em;
      font-family: Georgia, serif;
      font-style: italic;
      font-weight: 900;
      color: rgba(255, 255, 255, 0.8); }
